$link_color: #10cfff;
$background_color1: #333;


@media only screen and (max-width: 76.1875em) {
	.md-nav {
    	background-color: #000;
	}
}
.md-header {
	background-color: #000;
}
.md-container {
	background-color: $background_color1;
}
.md-typeset .footnote {
	color: #ccc;
}
body {
	color: #ccc;
}
.md-typeset pre {
	background-color: #000;
}
.md-typeset code {
	color: #ccc;
	box-shadow: 0.29412em 0 0 hsla(0,0%,0%,.5), -0.29412em 0 0 hsla(0,0%,0%,.5);
	background-color: hsla(0,0%,0%,.5);
}
.md-nav__link[data-md-state=blur] {
	color: rgba(230,230,230,.54);
}
.md-typeset h1 {
	color: #ccc;
}
a, .md-typeset a, md-nav__link, md-nav__link:hover {
	color: $link_color;
}
a footnote-ref::before {
	border-color: $link_color;
}
a footnote-ref::before {
	color: $link_color;
}
.md-nav__item--active>.md-nav__link, .md-nav__link:active {
	color: $link_color;
}
.md-nav--secondary {
	border-left: .4rem solid $link_color;
} 
.md-nav__link:focus, .md-nav__link:hover {
	color: $link_color;
}
.md-typeset hr {
	border-bottom: .1rem dotted #666;
}
.md-footer-copyright {
	color: #666;
}
.md-typeset blockquote {
    padding-left: 1.2rem;
    border-left: .4rem solid rgba(230,230,230,.26);
    color: rgba(230,230,230,.54);
}
@media only screen and (max-width: 76.1875em) {
	html .md-nav--primary .md-nav__title--site {
		background-color: #000;
	}
	html .md-nav--primary .md-nav__title~.md-nav__list {
		background: linear-gradient(180deg,#000 10%,hsla(0,0%,0%,0)),linear-gradient(180deg,rgba(0,0,0,.26),rgba(0,0,0,.07) 35%,transparent 60%);
		background-color: $background_color1;
	}
}